.login {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.login__box {
	width: 20rem;
	height: 20rem;
	background-color: #0d0d0d;
	border-radius: 0.5rem;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-shadow: 5px 5px 15px #000;
}

.login__form {
	display: flex;
	flex-direction: column;
}

.login__form label {
	color: #8c8b88;
	font-size: 0.8rem;
}
.login__form input {
	background-color: transparent;
	border: none;
	font-size: 1rem;
	width: 100%;
}

.login__form input:focus {
	outline: none;
}

.login__form_input {
	display: flex;
	justify-content: space-between;
	padding: 0.25rem;
	border-bottom: 1px solid #262626;
}

.login__form_input:first-of-type {
	margin-bottom: 0.5rem;
}

.login__form_button {
	margin-top: 2rem;
	display: flex;
	justify-content: center;
}

.login__form_button p {
	background-color: #f2ec9b;
	border-radius: 0.25rem;
	width: fit-content;
	padding: 0.25rem 0.5rem;
	color: #000;
	cursor: pointer;
	font-weight: 500;
}

.login__footer {
	text-align: center;
	font-size: 0.7rem;
}
