.header {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	background-color: #0d0d0d;
	text-transform: uppercase;
}

.header__logo {
	font-weight: 700;
}

.header__navbar {
	display: flex;
	align-items: center;
	list-style: none;
	gap: 2rem;
}

.header__navbar a {
	padding: 0.5rem;
}

.header__navbar_avatar {
	width: 3rem;
	height: 3rem;
	cursor: pointer;
}

.header__navbar_avatar img {
	max-width: 100%;
	border-radius: 50%;
}
