.moviecard {
	height: 20rem;
	width: 15rem;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 0.5rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}

.moviecard__title {
	font-weight: 700;
	font-size: 1.2rem;
}

.moviecard__rating {
	font-size: 0.8rem;
}
